@using ViewsLab.Models
@model Movie


@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@* TODO 1: *@
@*@for (int i = 0; i < 5; i++)
{
    <blockquote>Message @i</blockquote>
}*@

<ul>
    <li>ID: @Model.ID</li>
    <li>Title: @Model.Title</li>
    <li> Release: @Model.ReleaseDate.ToString("ddd d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</li>
</ul>


<form asp-controller="Home" asp-action="About" method="post">
    <label for="ID">ID: </label>
    <input type="text" asp-for="ID" id="id" />
    <label for="Title">Title: </label>
    <input type="text" asp-for="Title" id="title" />
    <label for="ReleaseDate">Release Date: </label>
    <input type="text" asp-for="ReleaseDate" id="releasedate" />
    <button type="submit">Submit</button>
</form>

